.hide {
    display: none;
}

.wrap {
    background: #ccc;
    width: 250px;
    padding: 200px;
    height: 500px;
}
.h1 {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 20px;
}
.input {
    padding: 10px;
    background: rgb(236,234,234);
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 20px;
    outline: none;
    box-sizing: border-box;
}
.ul {
    padding-bottom: 50px;
}

.ul li {
    font-size: 20px;
    font-weight: 700;
}